@import url('href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Inter", sans-serif;
    --breakpoint-sm: 30rem;
    --breakpoint-md: 51rem;
    --breakpoint-lg: 75rem;
}

@layer components {
    .nav-animate {
      @apply transition duration-150 ease-in hover:bg-white px-2 py-1 hover:text-black rounded-full cursor-pointer;
    }
  }

  .small-caps {
    font-feature-settings: "zero";
  }

  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }